@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("/fonts/Inter.ttf");
  }

  @font-face {
    font-family: "JetBrains Mono";
    font-display: swap;
    src: url("/fonts/JetBrainsMono.ttf");
  }
}
